<?xml version="1.0"?>
<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false"/>
  <arg name="pipeline" default="ompl"/>
  <arg name="use_gui" default="true"/>
  <arg name="load_robot_description" default="true"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find arm26_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster" 
        args="0 0 0 0 0 0 world base_link"/>

  <!-- Publish fake joint states if we do not have a robot connected -->
  <!-- Using joint_state_publisher_gui by default so you can adjust the initial pose -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>

  <!-- Run the main MoveIt executable -->
  <include file="$(find arm26_config)/launch/move_group.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="fake"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- Run RViz and load the default config -->
  <include file="$(find arm26_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find arm26_config)/launch/moveit.rviz"/>
  </include>

</launch>
